.button-stepper {
    background: #2474DF;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    border: none;
    padding: 0 0.25em;
    border-radius: 16px;
    text-align: right;
}

.button-stepper::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.button-stepper::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.btn-stepper:active {
    box-shadow: none;
}

.button-stepper.disabled {
    background: #3B4664;
}
