.generated-wrapper {
    background: #3B4664;
    border-radius: 16px;
    padding: 16px;
}

.generated-wrapper h3 {
    margin: 0;
    vertical-align: middle;
    line-height: 1.5em;
    display: inline-block;
}

.generated-wrapper .button {
    margin: 0;
    margin-left: 8px;
    float: right;
}

.clearButton {
    background-color: #EB32A7 !important;
}

.animateButton {
    background-color: #378DFF !important;
}

.variationsButton {
    background-color: #378DFF !important;
}

.image-list {
    padding: 0;
    margin: 0;
    margin-top: 16px;
}

.image-list li {
    display: inline-block;
    vertical-align: top;
    width: 128px;
    height: 128px;
    box-sizing: border-box;
    transition: transform 0.1s ease;
}

.selection {
    width: 112px;
    height: 112px;
    overflow: hidden;
    border: 8px solid black;
}

.selection .result {
    margin-top: -8px;
    margin-left: -8px;
}

.selectA {
    border-color: #F776C9;
}

.selectB {
    border-color: #378DFF;
}

.image-list li:hover {
    transform: scale(1.05);
    z-index: 100;
    box-shadow: 0px 8px 32px -16px black;
}
