.result {
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.result-loading {
    background: #2B3448;
    pointer-events: none;
    width: 100%;
    height: 100%;
    display: block;
}
